        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/大学生物学の教科書" | relative_url }}">{{"大学生物学の教科書" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/アミノ酸とタンパク質" | relative_url }}">{{"アミノ酸とタンパク質" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/pHとバッファ" | relative_url }}">{{"pHとバッファ" | escape}}</a>
        </li>
