        <li class="page-list-item">
            <a href="{{ "/チャンネル、トランスポーター、ポンプ" | relative_url }}">{{"チャンネル、トランスポーター、ポンプ" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/触媒としての酵素" | relative_url }}">{{"触媒としての酵素" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/タンパク質の構造" | relative_url }}">{{"タンパク質の構造" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ヘモグロビンとBohrEffect" | relative_url }}">{{"ヘモグロビンとBohrEffect" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ヘモグロビンとAllostery" | relative_url }}">{{"ヘモグロビンとAllostery" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/タンパク質のfolding" | relative_url }}">{{"タンパク質のfolding" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/SerineProtease" | relative_url }}">{{"SerineProtease" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/SdsPage" | relative_url }}">{{"SdsPage" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ProteinPurification" | relative_url }}">{{"ProteinPurification" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Membranes" | relative_url }}">{{"Membranes" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/EnzymeChemistry" | relative_url }}">{{"EnzymeChemistry" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Chymotrypsin" | relative_url }}">{{"Chymotrypsin" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/BloodClotting" | relative_url }}">{{"BloodClotting" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/アセチルコリン" | relative_url }}">{{"アセチルコリン" | escape}}</a>
        </li>
