        <li class="page-list-item">
            <a href="{{ "/タンパク質の構造" | relative_url }}">{{"タンパク質の構造" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ヘモグロビンとAllostery" | relative_url }}">{{"ヘモグロビンとAllostery" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/タンパク質の一次構造の決定" | relative_url }}">{{"タンパク質の一次構造の決定" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/タンパク質のfolding" | relative_url }}">{{"タンパク質のfolding" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/タンパク質の二次構造" | relative_url }}">{{"タンパク質の二次構造" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ProteinPurification" | relative_url }}">{{"ProteinPurification" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/大学生物学の教科書" | relative_url }}">{{"大学生物学の教科書" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/アミノ酸とタンパク質" | relative_url }}">{{"アミノ酸とタンパク質" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/pHとバッファ" | relative_url }}">{{"pHとバッファ" | escape}}</a>
        </li>
